ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 5px;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.sideNavigationUl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}
.editProfile {
  width: 100%;
  max-width: calc(100% - 71px);
  display: flex;
  justify-content: center;
}
.editProfileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editProfileName {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.editProfileNameInput {
  width: 100%;
}
.editProfileCountry {
  width: 100%;
}
.editProfileButtons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.editProfileCancelButton {
  color: #bca7d7 !important;
  border: 1px solid #bca7d7 !important;
}
.editProfileCancelButton:hover {
  background-color: #bca7d7 !important;
  color: white !important;
}
.editProfileSaveButton {
  background-color: #bca7d7 !important;
  color: white !important;
}
.editProfileSaveButton:hover {
  color: #bca7d7 !important;
  border: 1px solid #bca7d7 !important;
  background-color: #fff !important;
}

@media only screen and (max-width: 1000px) {
  .blog-list {
    max-width: 800px !important;
  }
}
@media only screen and (max-width: 700px) {
  .editProfileForm {
    padding: 0 20px;
  }
  .editProfileHeader {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 670px) {
  .blog-list {
    max-width: 400px !important;
  }
}

@media only screen and (max-width: 550px) {
  .editProfileName {
    flex-wrap: wrap;
    gap: unset;
  }
}
@media only screen and (max-width: 460px) {
  .editProfileHeader {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .editProfileHeader h1 {
    text-align: center;
  }
  .blog-list {
    max-width: 300px !important;
  }
}

@media only screen and (max-width: 365px) {
  .collapseButton {
    display: none;
  }
  .sideNavigationText {
    display: none;
  }
}
